In [45]:
import pandas as pd

In [46]:
courses_data = pd.read_csv('courses.csv') #load data using pandas

In [47]:
courses_data.head() #show the first 5 rows on data

   ID                       Course Name                   type
0   1  Building Machine Learning Models           Data Science
1   2          Road to Machine Learning           Data Science
2   3              Python for Beginners  Programming Languages
3   4                        Learn Java  Programming Languages
4   5                      Data Science           Data science

In [48]:
student_review = pd.read_csv('rating.csv')

In [49]:
student_review.head()

   User_id   name  Course  rating
0        5  chris      16     4.5
1        5  chris      35     2.0
2        3    han       5     4.5
3       16    han       7     3.0
4       17    jan      38     3.5

In [50]:
dic_id_course_type = {} #key course_id -- value is the type of that course
dic_type_id_courses = {} #key type  -- values   list of courses with that type


courses_ids = list(courses_data.ID) #get all ids of courses (get the ID column and put in a list)
types = list(courses_data.type) #get all types (get the type column and put in a list)

for j in range(len(courses_ids)):
    dic_id_course_type[courses_ids[j]] = types[j] # add type as value to key course #after it will be simple to get a type of any course
    
    if types[j] not in dic_type_id_courses:
        dic_type_id_courses[types[j]] = [] #create a list that will contain the all the courses with type t== type[j]
        
    dic_type_id_courses[types[j]].append(courses_ids[j]) #add that course to type (remember the row j in dta have course and its type )

In [51]:
dic_type_id_courses

{'Data Science': [1, 2, 26, 28],
 'Data science': [5],
 'Design': [6, 14, 23, 24, 25],
 'Physics': [7, 33],
 'Programming Languages': [3, 4, 15, 16, 17],
 'Web Development': [18, 19],
 'design': [11, 12, 13, 21, 22],
 'finance': [35, 36, 37, 38, 39],
 'history': [10],
 'mob app dev': [29, 30, 31, 32],
 'physics': [8, 9, 20, 34],
 'programming languages': [40],
 'web development': [27]}

In [52]:
dic_id_course_type

{1: 'Data Science',
 2: 'Data Science',
 3: 'Programming Languages',
 4: 'Programming Languages',
 5: 'Data science',
 6: 'Design',
 7: 'Physics',
 8: 'physics',
 9: 'physics',
 10: 'history',
 11: 'design',
 12: 'design',
 13: 'design',
 14: 'Design',
 15: 'Programming Languages',
 16: 'Programming Languages',
 17: 'Programming Languages',
 18: 'Web Development',
 19: 'Web Development',
 20: 'physics',
 21: 'design',
 22: 'design',
 23: 'Design',
 24: 'Design',
 25: 'Design',
 26: 'Data Science',
 27: 'web development',
 28: 'Data Science',
 29: 'mob app dev',
 30: 'mob app dev',
 31: 'mob app dev',
 32: 'mob app dev',
 33: 'Physics',
 34: 'physics',
 35: 'finance',
 36: 'finance',
 37: 'finance',
 38: 'finance',
 39: 'finance',
 40: 'programming languages'}

In [53]:
dic_user_rating_type = {} 
for Id in student_review.User_id.unique():
    dic_user_rating_type[Id]  ={} 
    
    data_of_user = student_review[student_review.User_id == Id]
    
    list_of_courses_of_that_user = list(data_of_user.Course) #get all his precedent courses
    rating_on_courses = list(data_of_user.rating)  #get all his precedents rating on that courses
    
    
    for i in range(len(list_of_courses_of_that_user)): 
        
        course = list_of_courses_of_that_user[i] 
        rat = rating_on_courses[i] 
        
        type_of_course = dic_id_course_type[course]
        
        if type_of_course not in dic_user_rating_type[Id]: #verify if type exists in dictionary
            
            dic_user_rating_type[Id][type_of_course]  = {'good_rating':0,'bad_rating':0} #initalize the number of good and bad ratings on that type
            
        if rat >=3.5 : 
            dic_user_rating_type[Id][type_of_course]['good_rating']+=1 #increment the number of good ratings of user Id on that type
        else:
            dic_user_rating_type[Id][type_of_course]['bad_rating']+=1 #incremant the number of bad ratings of user Id on that type

In [54]:
dic_user_rating_type

{1: {'Data Science': {'bad_rating': 1, 'good_rating': 1},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 2, 'good_rating': 0},
  'finance': {'bad_rating': 0, 'good_rating': 1},
  'history': {'bad_rating': 1, 'good_rating': 0}},
 2: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Data science': {'bad_rating': 0, 'good_rating': 1},
  'Physics': {'bad_rating': 2, 'good_rating': 0},
  'Web Development': {'bad_rating': 0, 'good_rating': 1},
  'physics': {'bad_rating': 1, 'good_rating': 0},
  'programming languages': {'bad_rating': 0, 'good_rating': 1}},
 3: {'Data science': {'bad_rating': 0, 'good_rating': 1},
  'Physics': {'bad_rating': 2, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 1, 'good_rating': 0},
  'finance': {'bad_rating': 0, 'good_rating': 1},
  'mob app dev': {'bad_rating': 2, 'good_rating': 0}},
 4: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 0, 'good_rating': 1},
  'finance': {'bad_rating': 0, 'good_rating': 1},
  'history': {'bad_rating': 0, 'good_rating': 1},
  'physics': {'bad_rating': 1, 'good_rating': 0},
  'programming languages': {'bad_rating': 1, 'good_rating': 0}},
 5: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 0, 'good_rating': 2},
  'finance': {'bad_rating': 1, 'good_rating': 0},
  'mob app dev': {'bad_rating': 2, 'good_rating': 0}},
 6: {'Data Science': {'bad_rating': 2, 'good_rating': 0},
  'Physics': {'bad_rating': 0, 'good_rating': 1},
  'design': {'bad_rating': 1, 'good_rating': 1},
  'mob app dev': {'bad_rating': 0, 'good_rating': 1},
  'web development': {'bad_rating': 0, 'good_rating': 1}},
 7: {'Data Science': {'bad_rating': 2, 'good_rating': 0},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 0, 'good_rating': 1},
  'mob app dev': {'bad_rating': 1, 'good_rating': 0},
  'programming languages': {'bad_rating': 1, 'good_rating': 0}},
 8: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Web Development': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 1, 'good_rating': 0},
  'finance': {'bad_rating': 1, 'good_rating': 1},
  'web development': {'bad_rating': 1, 'good_rating': 0}},
 9: {'Design': {'bad_rating': 2, 'good_rating': 0},
  'Physics': {'bad_rating': 0, 'good_rating': 1},
  'finance': {'bad_rating': 0, 'good_rating': 1},
  'mob app dev': {'bad_rating': 1, 'good_rating': 1},
  'physics': {'bad_rating': 1, 'good_rating': 0}},
 10: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Web Development': {'bad_rating': 0, 'good_rating': 1},
  'design': {'bad_rating': 1, 'good_rating': 0},
  'finance': {'bad_rating': 1, 'good_rating': 1},
  'physics': {'bad_rating': 1, 'good_rating': 1}},
 11: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Physics': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 0, 'good_rating': 1},
  'Web Development': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 1, 'good_rating': 0},
  'mob app dev': {'bad_rating': 1, 'good_rating': 0},
  'physics': {'bad_rating': 1, 'good_rating': 0}},
 12: {'Data Science': {'bad_rating': 0, 'good_rating': 1},
  'Design': {'bad_rating': 0, 'good_rating': 1},
  'design': {'bad_rating': 1, 'good_rating': 1},
  'finance': {'bad_rating': 0, 'good_rating': 2},
  'mob app dev': {'bad_rating': 1, 'good_rating': 0}},
 13: {'Physics': {'bad_rating': 1, 'good_rating': 0},
  'Web Development': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 1, 'good_rating': 0},
  'finance': {'bad_rating': 1, 'good_rating': 0},
  'physics': {'bad_rating': 3, 'good_rating': 0}},
 14: {'Data Science': {'bad_rating': 0, 'good_rating': 1},
  'Design': {'bad_rating': 0, 'good_rating': 1},
  'design': {'bad_rating': 2, 'good_rating': 0},
  'physics': {'bad_rating': 1, 'good_rating': 1},
  'web development': {'bad_rating': 0, 'good_rating': 1}},
 15: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 2, 'good_rating': 0},
  'mob app dev': {'bad_rating': 1, 'good_rating': 0},
  'physics': {'bad_rating': 0, 'good_rating': 1},
  'programming languages': {'bad_rating': 1, 'good_rating': 1}},
 16: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Physics': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 1, 'good_rating': 0},
  'physics': {'bad_rating': 1, 'good_rating': 0},
  'programming languages': {'bad_rating': 1, 'good_rating': 0}},
 17: {'Data Science': {'bad_rating': 0, 'good_rating': 1},
  'Web Development': {'bad_rating': 0, 'good_rating': 1},
  'design': {'bad_rating': 1, 'good_rating': 0},
  'finance': {'bad_rating': 1, 'good_rating': 1},
  'mob app dev': {'bad_rating': 1, 'good_rating': 0},
  'physics': {'bad_rating': 0, 'good_rating': 1}},
 18: {'Data Science': {'bad_rating': 1, 'good_rating': 0},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 1, 'good_rating': 0},
  'Web Development': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 1, 'good_rating': 1},
  'web development': {'bad_rating': 1, 'good_rating': 0}},
 19: {'Data science': {'bad_rating': 0, 'good_rating': 1},
  'Design': {'bad_rating': 1, 'good_rating': 1},
  'Programming Languages': {'bad_rating': 1, 'good_rating': 2},
  'web development': {'bad_rating': 0, 'good_rating': 1}},
 20: {'Data Science': {'bad_rating': 0, 'good_rating': 1},
  'Design': {'bad_rating': 1, 'good_rating': 0},
  'Physics': {'bad_rating': 1, 'good_rating': 0},
  'Programming Languages': {'bad_rating': 1, 'good_rating': 0},
  'design': {'bad_rating': 0, 'good_rating': 1},
  'finance': {'bad_rating': 0, 'good_rating': 1},
  'mob app dev': {'bad_rating': 0, 'good_rating': 1}}}

In [55]:
user_types_favorite = {}

for user in dic_user_rating_type.keys() : 
    
    user_types_favorite[user] = [] 
    
    types = dic_user_rating_type[user].keys()
    
    for tp in types:
        if dic_user_rating_type[user][tp]['good_rating'] > dic_user_rating_type[user][tp]['bad_rating']:
            user_types_favorite[user].append(tp)

In [56]:
user_types_favorite

{1: ['finance'],
 2: ['programming languages', 'Web Development', 'Data science'],
 3: ['Data science', 'finance'],
 4: ['design', 'finance', 'history'],
 5: ['Programming Languages'],
 6: ['Physics', 'mob app dev', 'web development'],
 7: ['design'],
 8: [],
 9: ['Physics', 'finance'],
 10: ['Web Development'],
 11: ['Programming Languages'],
 12: ['Data Science', 'finance', 'Design'],
 13: [],
 14: ['Design', 'web development', 'Data Science'],
 15: ['physics'],
 16: [],
 17: ['Data Science', 'physics', 'Web Development'],
 18: [],
 19: ['Programming Languages', 'Data science', 'web development'],
 20: ['mob app dev', 'Data Science', 'finance', 'design']}

In [57]:
name_of_user = {}

for user_id in student_review.User_id.unique():
    name_of_user[user_id] = student_review[student_review['User_id'] == user_id]['name'].unique()[0]
name_of_user

{1: 'hulk',
 2: 'miller',
 3: 'han',
 4: 'mike',
 5: 'chris',
 6: 'takato',
 7: 'pan',
 8: 'hashimoto',
 9: 'pan',
 10: 'chris',
 11: 'mike',
 12: 'seao',
 13: 'hashimoto',
 14: 'wick',
 15: 'miller',
 16: 'han',
 17: 'jan',
 18: 'wick',
 19: 'han',
 20: 'hashimoto'}

In [58]:
name_of_course = {} #key is id_course - values is the name of course
for id_c in courses_data.ID:
    name_of_course[id_c] = courses_data[courses_data['ID'] == id_c]['Course Name'].unique()[0]
name_of_course

{1: 'Building Machine Learning Models',
 2: 'Road to Machine Learning',
 3: 'Python for Beginners',
 4: 'Learn Java',
 5: 'Data Science',
 6: 'Adobe Illustrator',
 7: 'Physics for life',
 8: 'Mechanics',
 9: 'Newton Laws',
 10: 'African History',
 11: 'Finance for beginners',
 12: 'finance for life',
 13: 'finance ',
 14: 'marketing',
 15: 'Learn C#',
 16: 'Learn php',
 17: 'learn c++',
 18: 'learn css',
 19: 'learn html',
 20: 'learn geomecanic',
 21: 'learn geophysic',
 22: 'adobe xd course',
 23: 'photoshop ',
 24: '3d design',
 25: 'games disgn',
 26: 'story disgn',
 27: 'Learn computer vision',
 28: 'learn bootstrape',
 29: 'learn keras',
 30: 'learn flutter',
 31: 'learn android studio',
 32: 'learn pygame',
 33: 'kivy from zero to hero',
 34: 'electricity',
 35: 'Thermodynamics',
 36: 'Financial Modeling for Business Analysts and Consultants',
 37: 'Beginner to Pro - Financial Analysis in Excel 2017',
 38: 'The Only Investment Strategy You Need For Your Retirement',
 39: 'Bitcoin Profits for Beginners',
 40: 'learn java script'}

In [59]:
user_courses_recomended = {} #key is user - values are courses recommended

for user in user_types_favorite.keys():
    
    user_courses_recomended[user] = [] #initialize the list that will contain new recommendation for that user
    
    precedent_courses = student_review[student_review['User_id'] == user ]['Course']
    
    for tp in user_types_favorite[user]: 
        
        courses_of_that_type = courses_data[courses_data['type']==tp]['ID'] #get all courses with type tp
        
        for cr in courses_of_that_type : 
            
            if cr not in precedent_courses : #verify if user had studied that course before
                user_courses_recomended[user].append(cr) #recommend him new courses

In [60]:
for user in user_courses_recomended.keys(): #print the courses recommendeded for user
    print('Recommended courses for',name_of_user[user],'with UserID',user)
    
    for cr in user_courses_recomended[user]: 
        print(name_of_course[cr])
    print('\n')

Recommended courses for chris with UserID 5
Python for Beginners
Learn Java
Learn C#
Learn php
learn c++


Recommended courses for han with UserID 3
Data Science
Thermodynamics
Financial Modeling for Business Analysts and Consultants
Beginner to Pro - Financial Analysis in Excel 2017
The Only Investment Strategy You Need For Your Retirement
Bitcoin Profits for Beginners


Recommended courses for han with UserID 16


Recommended courses for jan with UserID 17
Building Machine Learning Models
Road to Machine Learning
story disgn
learn bootstrape
Mechanics
Newton Laws
learn geomecanic
electricity
learn css
learn html


Recommended courses for hulk with UserID 1
Thermodynamics
Financial Modeling for Business Analysts and Consultants
Beginner to Pro - Financial Analysis in Excel 2017
The Only Investment Strategy You Need For Your Retirement
Bitcoin Profits for Beginners


Recommended courses for mike with UserID 4
Finance for beginners
finance for life
finance
learn geophysic
adobe xd course
Thermodynamics
Financial Modeling for Business Analysts and Consultants
Beginner to Pro - Financial Analysis in Excel 2017
The Only Investment Strategy You Need For Your Retirement
Bitcoin Profits for Beginners
African History


Recommended courses for chris with UserID 10
learn css
learn html


Recommended courses for hashimoto with UserID 13


Recommended courses for hashimoto with UserID 20
learn keras
learn flutter
learn android studio
learn pygame
Building Machine Learning Models
Road to Machine Learning
story disgn
learn bootstrape
Thermodynamics
Financial Modeling for Business Analysts and Consultants
Beginner to Pro - Financial Analysis in Excel 2017
The Only Investment Strategy You Need For Your Retirement
Bitcoin Profits for Beginners
finance
learn geophysic
adobe xd course


Recommended courses for han with UserID 19
Python for Beginners
Learn Java
Learn C#
learn c++
Data Science
Learn computer vision


Recommended courses for miller with UserID 2
learn java script
learn css
learn html
Data Science


Recommended courses for hashimoto with UserID 8


Recommended courses for pan with UserID 9
Physics for life
kivy from zero to hero
Thermodynamics
Financial Modeling for Business Analysts and Consultants
The Only Investment Strategy You Need For Your Retirement
Bitcoin Profits for Beginners


Recommended courses for mike with UserID 11
Python for Beginners
Learn Java
Learn C#
Learn php
learn c++


Recommended courses for miller with UserID 15
Mechanics
Newton Laws
learn geomecanic
electricity


Recommended courses for wick with UserID 14
Adobe Illustrator
marketing
photoshop
3d design
games disgn
Learn computer vision
Building Machine Learning Models
Road to Machine Learning
story disgn
learn bootstrape


Recommended courses for seao with UserID 12
Building Machine Learning Models
Road to Machine Learning
story disgn
learn bootstrape
Thermodynamics
Financial Modeling for Business Analysts and Consultants
Beginner to Pro - Financial Analysis in Excel 2017
The Only Investment Strategy You Need For Your Retirement
Adobe Illustrator
marketing
photoshop
3d design
games disgn


Recommended courses for takato with UserID 6
Physics for life
kivy from zero to hero
learn keras
learn flutter
learn android studio
learn pygame
Learn computer vision


Recommended courses for wick with UserID 18


Recommended courses for pan with UserID 7
Finance for beginners
finance for life
finance
learn geophysic
adobe xd course